.required {
    text-transform: capitalize;
    color: var(--label);
    &::after {
        content: '*';
        color: var(--secondary);
    }
}

.field__input {
    border: solid 0.5px var(--border);
    border-radius: var(--radius);
    outline: none;
    transition: border-color var(--duration) var(--transition);
    &:focus {
        border-color: var(--main);
    }
}